{% extends 'base.html.twig' %}

    {% block title %}FacebookUser index{% endblock %}

{% block body_container %}

    <div class="container body-container" style="margin: 1em">

        {% block body %}
            <h1 style="text-align: center; font-size: 32px">FacebookUser index</h1>

            <table class="table" style="font-size: 12px">
                <thead>
                <tr>
                    <th>actions</th>
                    <th>Id</th>
                    <th>CountryLeak</th>
                    <th>Mobile</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Sex</th>
                    <th>WorkCompany</th>
                    <th>FacebookCurrentAddress</th>
                    <th>FacebookHometownAddress</th>
                    <th>BirthDate</th>
                    <th>FacebookId</th>
                    <th>CurrentDistrict</th>
                    <th>CurrentCountry</th>
                    <th>CurrentState</th>
                    <th>HometownDistrict</th>
                    <th>HometownCountry</th>
                    <th>HometownState</th>
                    <th>RelationshipStatus</th>
                    <th>Date10</th>
                    <th>Email</th>
                    <th>FacebookBirthDate</th>
                    <th>RevWork</th>
                    <th>Soundex</th>
                    <th>RevSoundex</th>
                </tr>
                </thead>
                <tbody>
                {% for facebook_user in paginator.results %}
                    <tr>
                        <td>
                            <a href="{{ path('facebook_user_show', {'id': facebook_user.id}) }}">show</a>
                            <a href="{{ path('facebook_user_edit', {'id': facebook_user.id}) }}">edit</a>
                        </td>
                        <td>{{ facebook_user.id }}</td>
                        <td>{{ facebook_user.countryLeak }}</td>
                        <td>{{ facebook_user.mobile }}</td>
                        <td>{{ facebook_user.firstName }}</td>
                        <td>{{ facebook_user.lastName }}</td>
                        <td>{{ facebook_user.sex }}</td>
                        <td>{{ facebook_user.workCompany }}</td>
                        <td>{{ facebook_user.facebookCurrentAddress }}</td>
                        <td>{{ facebook_user.facebookHometownAddress }}</td>
                        <td>{{ facebook_user.birthDate ? facebook_user.birthDate|date('Y-m-d') : '' }}</td>
                        <td>{{ facebook_user.facebookId }}</td>
                        <td>{{ facebook_user.currentDistrict }}</td>
                        <td>{{ facebook_user.currentCountry }}</td>
                        <td>{{ facebook_user.currentState }}</td>
                        <td>{{ facebook_user.hometownDistrict }}</td>
                        <td>{{ facebook_user.hometownCountry }}</td>
                        <td>{{ facebook_user.hometownState }}</td>
                        <td>{{ facebook_user.relationshipStatus }}</td>
                        <td>{{ facebook_user.date10 }}</td>
                        <td>{{ facebook_user.email }}</td>
                        <td>{{ facebook_user.facebookBirthDate }}</td>
                        <td>{{ facebook_user.revWork }}</td>
                        <td>{{ facebook_user.soundex }}</td>
                        <td>{{ facebook_user.revSoundex }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="25">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if paginator.hasToPaginate %}
                <div class="navigation text-center">
                    <ul class="pagination">
                        {% if paginator.hasPreviousPage %}
                            <li class="prev"><a
                                        href="{{ path('facebook_user_index_paginated', {page: paginator.previousPage}) }}"
                                        rel="previous"><i
                                            class="fa fw fa-long-arrow-left"></i> {{ 'paginator.previous'|trans }}
                                </a></li>
                        {% else %}
                            <li class="prev disabled"><span><i
                                            class="fa fw fa-arrow-left"></i> {{ 'paginator.previous'|trans }}</span>
                            </li>
                        {% endif %}

                        {% for exp in range(0, log) %}
                            {% set i = 2 ** exp %}
                            {% if i == paginator.currentPage %}
                                <li class="active"><span>{{ i }} <span
                                                class="sr-only">{{ 'paginator.current'|trans }}</span></span></li>
                            {% else %}
                                <li><a href="{{ path('facebook_user_index_paginated', {page: i}) }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% for exp in range(0, log) %}
                            {% set i = 2 ** log + 2**exp %}
                            {% if i == paginator.currentPage %}
                                <li class="active"><span>{{ i }} <span
                                                class="sr-only">{{ 'paginator.current'|trans }}</span></span></li>
                            {% else %}
                                <li><a href="{{ path('facebook_user_index_paginated', {page: i}) }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if paginator.hasNextPage %}
                            <li class="next"><a
                                        href="{{ path('facebook_user_index_paginated', {page: paginator.nextPage}) }}"
                                        rel="next">{{ 'paginator.next'|trans }} <i class="fa fw fa-arrow-right"></i></a>
                            </li>
                        {% else %}
                            <li class="next disabled"><span>{{ 'paginator.next'|trans }} <i
                                            class="fa fw fa-arrow-right"></i></span></li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

            <a href="{{ path('facebook_user_new') }}">Create new</a>
        {% endblock %}

    </div>
{% endblock body_container %}